/out/

.vscode/


CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/


*.user
*.suo
*.userosscache
*.sln.docstates

*.vs
*.exe
*.obj
*.o
*.pdb
*.ilk
*.dll
*.lib
*.exp
*.log
*.tmp
*.cache
*.dir
*.mp4